/* CSS RESET - do not remove */
/* Reset default browser styles and provide a consistent starting point */
html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: lighter;
}

/*  Set the font */
body {
  font-family: "Helvetica", sans-serif;
}

/* STYLES */
/* Write your CSS below */
.hero {
  background: url('../images/apple-pie.jpg')  no-repeat center center/cover;
  color: white;
  text-align: center;
  font-size: 5rem;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  margin: 0 75px 0 75px;
}
.description {
  padding: 2rem 5rem;
  line-height: 1.6;

}

.ingredients {
  padding: 2rem 5rem;
  line-height: 1.6;

}

.ingredients h2 {
  margin-bottom: 1.5rem;
}

.ingredients ul {
  list-style-type: none;
  padding-left: 2rem;
}

.ingredients li:before {
  content: "- ";
}

.directions {
  padding: 2rem 5rem;
  line-height: 1.6;

}

.directions h2 {
  margin-bottom: 1.5rem;
}

.directions ol {
  list-style-type: none;
  counter-reset: item;
  padding-left: 2rem;
}

.directions li {
  counter-increment: item;
}

.directions li:before {
  content: counter(item) ") ";
}

img {
  display: block;
  margin: 0 auto;
  width: 450px;
}

hr {
  border-top: solid 2px #989898;
  margin-bottom: 50px;
}

li {
  padding: 3px 0;
}